$colorbackgroundtexto: #f7f7f7;
$colorcontraste: rgb(237, 205, 30);
$letrspacing: 1px;
$fontcomun: Arial, Helvetica, sans-serif;

body {
  margin: 0%;
  padding: 0%;
}

header {
  display: flex;
  width: 100vw;
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;

  & #menus {
    position: relative;
    background: $colorcontraste;
    width: 30vw;
    height: 100%;
    display: flex;

    & img {
      position: absolute;
      display: block;
      width: 50px;
      height: 50px;
      cursor: pointer;
      left: calc(20% - 25px);
      top: calc(50% - 25px);
    }

    & h1 {
      position: absolute;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      cursor: pointer;
      left: 30%;
      top: 50%;
      transform: translateY(-70%);
      margin-left: 10px;

      & span {
        font-weight: lighter;
        letter-spacing: 1px;
      }
    }
  }

  & .inicio {
    width: 70vw;
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgb(33, 44, 59);
    color: white;
    font-family: $fontcomun;
    font-size: 15px;

    & ul {
      display: flex;
      list-style: none;
    }

    & .nopintar {
      padding: 10px;
      margin: 5px;
      transform: translateY(50px);
      cursor: pointer;
      transition: color yellow 0.5s ease 0s;
    }

    & .subinicios {
      padding: 10px;
      margin: 5px;
      transform: translateY(50px);
      cursor: pointer;
    }
  }
}

#divvideo {
  position: relative;
  width: 100%;
  height: 95vh;

  //background: green;

  .video {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
  }

  & video {
    width: 100vw;
    margin: 0;
    padding: 0;
    z-index: -2;
  }

  & .titulovideo {
    margin: 10px;
    padding: 10px 300px;
    color: white;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    top: 5%;
    z-index: 1;
    letter-spacing: 1px;
  }
}

#SERVICIOS {
  background: white;
  width: 100%;
  height: 110vh;

  & .tituloservicios {
    margin: 20px;
    padding: 30px;
    transform: translateY(50px);
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: #c6c6c6;
    letter-spacing: 1px;
  }

  & .linea {
    width: 100px;
    height: 10px;
    background-color: #edcd1e;
    transform: translateX(590px);
    margin-bottom: 50px;
  }

  & .lista {
    display: flex;
    justify-content: center;
  }

  & .galerias {
    margin: 20px;
    border: none;
    width: 300px;
    background: #f7f7f7;
  }

  & img {
    width: 100%;
    height: 250px;
  }

  & h3 {
    color: #3c5975;
  }

  & .descripcion {
    padding: 5px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 20px;
  }
}

#nosotros {
  width: 100%;
  height: 95vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  background: url(../img/building.jpg);
  background-attachment: fixed;
  background-size: cover;

  #texto-nosotros {
    width: 50%;
    height: 100%;
    background: $colorbackgroundtexto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;

    & .linea2 {
      display: block;
      width: 120px;
      height: 10px;
      background-color: #edcd1e;
      border: yellow;
      margin-bottom: 15px;
      transform: translate(140px, -60px);
    }

    .encabezado-nosotros {
      font-size: 60px;
      letter-spacing: 2px;
      text-align: center;
      color: #c6c6c6;
      padding-top: 15px;
    }

    .parrafo-nosotros {
      font-size: 18px;
      margin-left: 130px;
      margin-right: 50px;
      letter-spacing: 1px;
      line-height: 25px;
    }
  }
}

#yellowbar {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 35vh;
  background: $colorcontraste;

  & .proyect-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 30px 100px;
    margin: 0;

    & .Prtext {
      margin: 5px;
      padding: 30px 20px 20px 10px;
      font-size: 22px;
      text-align: center;
      color: #3c5975;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;

      & .PrNumbers {
        font-size: 60px;
        color: white;
        letter-spacing: 2px;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
    & .linewhite1 {
      display: block;
      width: 3px;
      height: 75px;
      background-color: white;
      border: white;
      transform: translateY(60px);
    }
  }
}

#proyectos {
  width: 100%;
  margin: 0;
  padding: 0px;
  height: 200vh;
  background: white;

  & .titulo-proyectos {
    margin-top: 0px;
    padding: 40px;
    transform: translateY(50px);
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: #c6c6c6;
    letter-spacing: 1px;
  }

  & .line-proyects {
    display: block;
    width: 120px;
    height: 10px;
    background-color: #edcd1e;
    border: yellow;
    margin-bottom: 15px;
    transform: translate(570px, -40px);
  }

  & .proyectos-galeria {
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .row {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: center;

      & .img-proyectos {
        position: relative;
        width: 30vw;
        margin: 10px 20px;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #f2f2f2;
          opacity: 0;
        }

        &:hover::after {
          opacity: 0.5;
        }

        &:hover span {
          opacity: 1;
        }

        & span {
          position: absolute;
          display: block;
          color: black;
          font-size: 30px;
          top: 50%;
          transform: translate(-50%, -50%);
          left: 50%;
          font-family: Arial, Helvetica, sans-serif;
          opacity: 1;
          z-index: 2;
          text-align: center;
          opacity: 0;
        }

        & img {
          display: block;
          position: relative;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

#clientes {
  width: 100%;
  height: 50vh;
  background: $colorbackgroundtexto;

  & .titulo-clientes {
    margin-top: 0px;
    padding: 20px;
    transform: translateY(25px);
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: #c6c6c6;
    letter-spacing: 1px;
  }

  & .linea-clientes {
    display: block;
    width: 120px;
    height: 10px;
    background-color: #edcd1e;
    border: yellow;
    margin-bottom: 5px;
    transform: translate(575px, -45px);
  }

  & .div-lista-clientes {
    & .lista-clientes {
      display: flex;
      margin: 0;
      flex-direction: row;
      list-style: none;
      align-items: center;
      justify-content: center;

      & .img-clientes {
        display: block;
        width: 110px;
        height: 110px;
        margin: 0px 15px;
        padding: 0px 20px;
        filter: grayscale(90%);
        cursor: pointer;
      }

      & .img-clientes:hover {
        filter: grayscale(0%);
      }
    }
  }
}

#contacto {
  & #sec_contacto {
    width: 98.9%;
    height: 165vh;
    display: flex;
    flex-direction: column;

    & #texto_contacto {
      display: block;
      margin-top: 5%;

      & h1 {
        font-family: $fontcomun;
        font-size: 65px;
        color: #c6c6c6;;
        text-align: center;
        margin-top: 3%;
      }
      & #linea_contacto {
        display: inline-block;
        padding: 0.3% 4%;
        margin: 0% 0% 4% 46%;
        background: $colorcontraste;
      }
    }
    & #mapa {
      display: block;
      transform: translateX(150px);
    }

    & #oficina_principal {
      margin: 3% 0% 0% 60%;
      & h1 {
        font-family: $fontcomun;
        font-size: 25px;
        margin: 10px 10px 5px 10px ;
      }

      & #dir {
        margin: 1% 0% 0% 60%;

        & p {
          font-family: $fontcomun;
          font-size: 18px;
          //margin: 18px 0px 0px 0px;

          & .p1{
            padding: 0px;
            margin: 0px;
          }
        }
      }
      & #correo_e_inf {
        margin: 0% 0% 0% 60%;

        & p {
          font-family: $fontcomun;
          font-size: 18px;
        }
      }
    }
    & #preguntas {
      margin: -27% 0% 0% 18%;
      font-family: $fontcomun;
      font-size: 18px;

      & h1 {
        font-family: $fontcomun;
        font-size: 28px;
      }
      & #texto_pregunta {
        display: block;
        margin: 2% 0% 0% 0%;

        & p {
          font-family: $fontcomun;
          font-size: 18px;
        }
      }
    }

    & #empleos {
      margin: 10% 0% 0% 60%;

      & h1 {
        font-family: $fontcomun;
        font-size: 28px;
      }
      & #texto_empleos {
        display: block;
        margin: 2% 0% 0% 0%;

        & p {
          font-family: $fontcomun;
          font-size: 18px;
        }
      }
    }

    & #formulario {
      display: block;

      & #nombre_span {
        display: block;
        margin: -20% 0% 0% 18%;

        & #Nombre {
          width: 33.4%;
          background: $colorbackgroundtexto;
          height: 3vh;

          font-size: 16px;
          border: 0;
        }
      }

      & #email_span {
        display: block;
        margin: 0.5% 0% 0% 18%;
        & #email {
          width: 33.4%;
          height: 3vh;
          font-size: 16px;
          background:$colorbackgroundtexto;
          border: 0;
        }
      }

      & #asunto_span {
        display: block;
        margin: 0.5% 0% 0% 18%;
        & #asunto {
          width: 33.4%;
          font-size: 16px;
          background: $colorbackgroundtexto;
          border: 0;
          height: 3vh;
        }
      }
      & #mensaje_span {
        display: block;
        margin: 0.5% 0% 0% 18%;
        & #mensaje {
          font-size: 16px;
          background: $colorbackgroundtexto;
          border: 0;
        }
      }

      & #enviar_boton {
        display: block;
        margin: 0.5% 0% 0% 39.5%;
        & #enviar {
          background: rgb(33, 44, 59);
          color: $colorbackgroundtexto;
          border: 0;
          width: 10%;
          font-family: $fontcomun;
          height: 4.5vh;
          font-size: 15px;
          text-align: center;
        }
      }

      & #linea_final {
        display: inline-block;
        padding: 0.3% 3%;
        margin: 1% 0% 5% 60%;
        background: $colorcontraste;
      }
      & #presupuesto {
        display: block;
        margin: -3.5% 0% 0% 60%;
        & h1 {
          font-family: $fontcomun;
          font-size: 25px;
          color:rgb(33, 44, 59);
          margin: 1px;
        }

        & #num {
          & h1 {
            font-family: $fontcomun;
            font-size: 25px;
            color: rgb(33, 44, 59);
            margin-bottom: 3px;
          }
        }
      }
    }
  }
}

footer {
  // PARA ACOMODAR LOS ICONOS
  & #icono {

    padding-top: 1%;
    width: 100%;
    height: 5vh;

    & .iconos {
      float: right;
      text-align: center;
      list-style: none;
      margin: 0% 1% 0% 0%;
      padding-bottom: 2%;

      & #final {
        display: block;
        font-size: 13px;
        font-family: $fontcomun;
        font-weight: lighter;
        margin: 3.5% 0% 0% -350%;
      }

    
      & a {
        display: block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        background: #E0E0E0;
        text-align: center;
        //margin: 0 0px;
        border-radius: 25px;
        transform: translateX(300px);
        



        & .fa {
          font-size: 22px;
          color: white;

        }
      }
    }
  }
}
