$colorbackgroundtexto: #f7f7f7;
$colorcontraste: rgb(237, 205, 30);
$letrspacing: 1px;



body {
  margin: 0%;
  padding: 0%;
}

header {
  display: flex;
  width: 100vw;
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;

  & #menus {
    position: relative;
    background: $colorcontraste;
    width: 30vw;
    height: 100%;
    display: flex;

    & img {
      position: absolute;
      display: block;
      width: 50px;
      height: 50px;
      cursor: pointer;
      left: calc(20% - 25px);
      top: calc(50% - 25px);
    }

    & h1 {
      position: absolute;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      cursor: pointer;
      left: 30%;
      top: 50%;
      transform: translateY(-70%);
      margin-left: 10px;

      & span {
        font-weight: lighter;
        letter-spacing: 1px;
      }
    }
  }

  & .inicio {
    width: 70vw;
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgb(33, 44, 59);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    & ul {
      display: flex;
      list-style: none;
    }

    & .nopintar {
      padding: 10px;
      margin: 5px;
      transform: translateY(50px);
      cursor: pointer;
      transition: color yellow 0.5s ease 0s;
    }

    & .subinicios {
      padding: 10px;
      margin: 5px;
      transform: translateY(50px);
      cursor: pointer;
    }
  }
}

#divvideo {
  position: relative;
  width: 100%;
  height: 95vh;

  //background: green;

  .video {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
  }

  & video {
    width: 100vw;
    margin: 0;
    padding: 0;
    z-index: -2;
  }

  & .titulovideo {
    margin: 10px;
    padding: 10px 300px;
    color: white;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    top: 5%;
    z-index: 1;
    letter-spacing: 1px;
  }
}

#SERVICIOS {
  background: white;
  width: 100%;
  height: 110vh;

  & .tituloservicios {
    margin: 20px;
    padding: 30px;
    transform: translateY(50px);
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: #c6c6c6;
    letter-spacing: 1px;
  }

  & .linea {
    width: 100px;
    height: 10px;
    background-color: #edcd1e;
    transform: translateX(590px);
    margin-bottom: 50px;
  }

  & .lista {
    display: flex;
    justify-content: center;
  }

  & .galerias {
    margin: 20px;
    border: none;
    width: 300px;
    background: #f7f7f7;
  }

  & img {
    width: 100%;
    height: 250px;
  }

  & h3 {
    color: #3c5975;
  }

  & .descripcion {
    padding: 5px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 20px;
  }
}

#nosotros {
  width: 100%;
  height: 95vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  background: url(../img/building.jpg);
  background-attachment:  fixed;
   background-size: cover;

  #texto-nosotros {
    width: 50%;
    height: 100%;
    background: $colorbackgroundtexto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;

    & .linea2 {
      display: block;
      width: 120px;
      height: 10px;
      background-color: #edcd1e;
      border: yellow;
      margin-bottom: 15px;
      transform: translate(140px, -60px);
    }

    .encabezado-nosotros {
      font-size: 60px;
      letter-spacing: 2px;
      text-align: center;
      color: #c6c6c6;
      padding-top: 15px;
    }

    .parrafo-nosotros {
      font-size: 18px;
      margin-left: 130px;
      margin-right: 50px;
      letter-spacing: 1px;
      line-height: 25px;
    }
  }
}

#yellowbar{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 35vh;
  background: $colorcontraste;

  & .proyect-list{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 30px 100px;
    margin: 0;
    

  & .Prtext{
    margin: 5px;
    padding: 30px 20px 20px 10px;
    font-size: 22px;
    text-align: center;
    color: #3C5975;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

    & .PrNumbers{
      font-size: 60px;
      color: white;
      letter-spacing: 2px;
      font-family: Arial, Helvetica, sans-serif;
    }

    
  }
  & .linewhite1{
  display: block;
    width: 3px;
    height: 75px;
    background-color: white;
    border: white;
    transform: translateY(60px);
    }
}
}

#proyectos {
  width: 100%;
  margin: 0;
  padding: 0px;
  height: 200vh;
  background: red;
  

  & .titulo-proyectos{
    margin-top: 0px;
    padding: 40px;
    transform: translateY(50px);
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: #c6c6c6;
    letter-spacing: 1px;
  }

  & .line-proyects{
    display: block;
      width: 120px;
      height: 10px;
      background-color: #edcd1e;
      border: yellow;
      margin-bottom: 15px;
      transform: translate(570px, -40px);
  }

  & .proyectos-galeria{
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .row{
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: center;

      & .img-proyectos{
        position: relative;
        width: 30vw;
        margin: 10px 20px;

        &::after{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #f2f2f2;
          opacity: 0;
        }

        &:hover::after{
          opacity: .5;
        } 

        &:hover span {
          opacity: 1;
        }

     

        & span{
          position: absolute;
          display: block; 
          color: black;
          font-size: 30px;
          top: 50%;
          transform: translate(-50%,-50%);
          left: 50%;
          font-family: Arial, Helvetica, sans-serif;
          opacity: 1;
          z-index: 2;
          text-align: center;
          opacity: 0;

        
        }
      
      & img{
        display: block;
        position: relative;
        width: 100%;
        height: 100%;

       
        

   

    

        //&:hover ~ span{
          //opacity: 1;}


        // &:hover::before{
        //   opacity: 1;

        // }
      }

      }
      
    }
   
    
    // & img {
    //   width: 450px;
    //   height: 500px;
    //   margin: 10px 10px 5px;
    //   padding: 0px;
    //   cursor: pointer;
      
    // }

    // & .row1{
    //   margin: px;
    //   padding: 0px;
      
    // }

    // & .img1-proyectos {
    //   margin: 0px;
    //   padding: 0px;
    // }

    // & span{
    //   //position: absolute;
    //   display: block;
    //   color: black;
    //   font-size: 30px;
    //   //transform: translate(170px, -300px);
    //   font-family: Arial, Helvetica, sans-serif;
    //   width: 100%;
    //   height: 100%;
    //   &:after{
    //     content: attr('data-text');
    //     top: 0;
    //     left: 0;
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     background: grey;
    //   }
    // }



  }
}
