body {
  margin: 0%;
  padding: 0%;
}

header {
  display: flex;
  width: 100vw;
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;

  & #menus {
    position: relative;
    background: rgb(237, 205, 30);
    width: 30vw;
    height: 100%;
    display: flex;

    & img {
      position: absolute;
      display: block;
      width: 50px;
      height: 50px;
      cursor: pointer;
      left: calc(20% - 25px);
      top: calc(50% - 25px);
    }

    & h1 {
      position: absolute;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      cursor: pointer;
      left: 30%;
      top: 50%;
      transform: translateY(-70%);
      margin-left: 10px;

      & span {
        font-weight: lighter;
        letter-spacing: 1px;
      }
    }
  }

  & .inicio {
    width: 70vw;
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgb(33, 44, 59);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    & ul{
        display: flex;
        list-style: none;
      }

    & .nopintar {
      padding: 10px;
      margin: 5px;
      transform: translateY(50px);
      cursor: pointer;
      transition: color yellow .5s ease 0s;
    }

    & .subinicios {
      padding: 10px;
      margin: 5px;
      transform: translateY(50px);
      cursor: pointer;
    
    }
  }
}

#divvideo {
  position: relative;
  width: 100%;
  height: 95vh;

  //background: green;

  .video{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
  }

  & video {
    width: 100vw;
    margin: 0;
    padding: 0;
    z-index: -2;
  }

  & .titulovideo {
    margin: 10px;
    padding: 10px 300px;
    color: white;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    top: 5%;
    z-index: 1;
    letter-spacing: 1px;
  }
}

#SERVICIOS {
  background: white;
  width: 100%;
  height: 100vh;

  & .tituloservicios {
    margin: 20px;
    padding: 30px;
    transform: translateY(50px);
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: #C6C6C6;
    letter-spacing: 1px;
  }

  & .linea{
    width: 100px;
    height: 10px;
    background-color: #EDCD1E;
    transform: translateX(590px);
    margin-bottom: 50px;
  }

  & .lista{
    display: flex;
    justify-content: center;
  }

  & .galerias{
    margin: 20px;
    border: none;
    width: 300px;
    background: #f7f7f7
  }

  & img {
    width: 100%;
    height: 250px;
  }

  & h3{
    color:#3C5975;
  }
  & .descripcion{
    padding: 5px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 20px;
    
  }
}
