body {
  margin: 0%;
  padding: 0%;
}

header {
  display: flex;
  width: 100vw;
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
header #menus {
  position: relative;
  background: #edcd1e;
  width: 30vw;
  height: 100%;
  display: flex;
}
header #menus img {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  left: calc(20% - 25px);
  top: calc(50% - 25px);
}
header #menus h1 {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  cursor: pointer;
  left: 30%;
  top: 50%;
  transform: translateY(-70%);
  margin-left: 10px;
}
header #menus h1 span {
  font-weight: lighter;
  letter-spacing: 1px;
}
header .inicio {
  width: 70vw;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #212c3b;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
header .inicio ul {
  display: flex;
  list-style: none;
}
header .inicio .nopintar {
  padding: 10px;
  margin: 5px;
  transform: translateY(50px);
  cursor: pointer;
  transition: color yellow 0.5s ease 0s;
}
header .inicio .subinicios {
  padding: 10px;
  margin: 5px;
  transform: translateY(50px);
  cursor: pointer;
}

#divvideo {
  position: relative;
  width: 100%;
  height: 95vh;
}
#divvideo .video {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
}
#divvideo video {
  width: 100vw;
  margin: 0;
  padding: 0;
  z-index: -2;
}
#divvideo .titulovideo {
  margin: 10px;
  padding: 10px 300px;
  color: white;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
  top: 5%;
  z-index: 1;
  letter-spacing: 1px;
}

#SERVICIOS {
  background: white;
  width: 100%;
  height: 110vh;
}
#SERVICIOS .tituloservicios {
  margin: 20px;
  padding: 30px;
  transform: translateY(50px);
  text-align: center;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  color: #c6c6c6;
  letter-spacing: 1px;
}
#SERVICIOS .linea {
  width: 100px;
  height: 10px;
  background-color: #edcd1e;
  transform: translateX(590px);
  margin-bottom: 50px;
}
#SERVICIOS .lista {
  display: flex;
  justify-content: center;
}
#SERVICIOS .galerias {
  margin: 20px;
  border: none;
  width: 300px;
  background: #f7f7f7;
}
#SERVICIOS img {
  width: 100%;
  height: 250px;
}
#SERVICIOS h3 {
  color: #3c5975;
}
#SERVICIOS .descripcion {
  padding: 5px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 20px;
}

#nosotros {
  width: 100%;
  height: 95vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  background: url(../img/building.jpg);
  background-attachment: fixed;
  background-size: cover;
}
#nosotros #texto-nosotros {
  width: 50%;
  height: 100%;
  background: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
#nosotros #texto-nosotros .linea2 {
  display: block;
  width: 120px;
  height: 10px;
  background-color: #edcd1e;
  border: yellow;
  margin-bottom: 15px;
  transform: translate(140px, -60px);
}
#nosotros #texto-nosotros .encabezado-nosotros {
  font-size: 60px;
  letter-spacing: 2px;
  text-align: center;
  color: #c6c6c6;
  padding-top: 15px;
}
#nosotros #texto-nosotros .parrafo-nosotros {
  font-size: 18px;
  margin-left: 130px;
  margin-right: 50px;
  letter-spacing: 1px;
  line-height: 25px;
}

#yellowbar {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 35vh;
  background: #edcd1e;
}
#yellowbar .proyect-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 30px 100px;
  margin: 0;
}
#yellowbar .proyect-list .Prtext {
  margin: 5px;
  padding: 30px 20px 20px 10px;
  font-size: 22px;
  text-align: center;
  color: #3C5975;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
#yellowbar .proyect-list .Prtext .PrNumbers {
  font-size: 60px;
  color: white;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
}
#yellowbar .proyect-list .linewhite1 {
  display: block;
  width: 3px;
  height: 75px;
  background-color: white;
  border: white;
  transform: translateY(60px);
}

#proyectos {
  width: 100%;
  margin: 0;
  padding: 0px;
  height: 200vh;
  background: red;
}
#proyectos .titulo-proyectos {
  margin-top: 0px;
  padding: 40px;
  transform: translateY(50px);
  text-align: center;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  color: #c6c6c6;
  letter-spacing: 1px;
}
#proyectos .line-proyects {
  display: block;
  width: 120px;
  height: 10px;
  background-color: #edcd1e;
  border: yellow;
  margin-bottom: 15px;
  transform: translate(570px, -40px);
}
#proyectos .proyectos-galeria {
  width: 100%;
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#proyectos .proyectos-galeria .row {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
}
#proyectos .proyectos-galeria .row .img-proyectos {
  position: relative;
}
#proyectos .proyectos-galeria .row .img-proyectos:hover span {
  opacity: 1;
}
#proyectos .proyectos-galeria .row .img-proyectos span {
  position: absolute;
  display: block;
  color: black;
  font-size: 30px;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0;
}
#proyectos .proyectos-galeria .row .img-proyectos img {
  display: block;
  position: relative;
  width: 450px;
  height: 500px;
  margin: 0px 10px;
}
#proyectos .proyectos-galeria .row .img-proyectos img::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
}

/*# sourceMappingURL=style.css.map */
